@font-face {
  font-family: "ProximaNova";
  src: url("/src/fonts/ProximaNova-Regular.otf") format(opentype);
}
:root {
  --background-color: #1db954;
}
html {
  /* background-color: black; */
  background-image: radial-gradient(at top left, black 30%, #3498db 300%);
  width: 100%;
  min-height: 100%;
}
.App {
  font-family: "ProximaNova", sans-serif;
  margin: auto;
  max-width: 700px;
  padding: 1rem;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 3rem;
}
.nav-brand {
  font-size: 2.5rem;
  color: white;
}
.nav-brand-and {
  vertical-align: middle;
  font-size: 3rem;
  font-weight: bold;
  color: var(--background-color);
  padding: 0rem 0.1rem;
}
.brand-logo-logo {
  width: 45px;
  height: 45px;
}
hr {
  width: 100%;
  height: 0px;
  border: 1px solid #c4c4c4;
  background-color: white;
  margin: 0.5rem auto;
}
.app-genres-list {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.genres {
  cursor: pointer;
  display: inline;
  margin: 0.5rem;
  padding: 0.3rem 0.6rem;
  color: white;
  font-weight: bold;
  border: 2px green solid;
  border-radius: 8px;
  font-size: 1rem;
}
.genres:hover {
  background-color: var(--background-color);
  color: black;
}
.list-songs {
  color: white;
  margin: 0.5rem auto;
  padding: 1rem 0.6rem;
}
.list-songs-one {
  margin: 0.5rem auto;
  padding: 0.6rem;
  border-radius: 10px;
  border: 2px solid #455a64;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.song-name {
  font-size: 1.3rem;
  text-align: left;
  font-weight: bold;
}
.song-artist {
  font-size: 1rem;
  text-align: left;
  font-weight: 500;
}
.spotify {
  text-align: right;
}
.follow {
  text-align: right;
}
